:root {
  --font-family-primary: 'Open Sans', sans-serif;
  --font-family-secondary: 'Raleway', sans-serif;

  --color-accent: #ff6c00;
  --color-dark-bg-primary: #9da4bd;
  --color-dark-bg-secondary: #ffffff;
  --color-light-bg-primary: #555555;
  --color-light-bg-secondary: #303030;

  --bg-color-primary: #F7F7F7;
}